<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.mapper.ChanceMapper">
	
	<select id="findChanceByCondition" parameterType="map" resultMap="DataDirectoryMap">
		select * <include refid="conditionSql"/>
	</select>
	
	<select id="findChanceByConditionCount" parameterType="map" resultType="int">
		select count(*) <include refid="conditionSql"/>
	</select>
		<sql id="conditionSql">
		from chance 
		<where>
			chancestatus=5
			<if test="contactername!=null and contactername!=''">
				 contacename like '%${contactername}%'
			</if>
			<if test="customername!=null and customername!=''">
				and customername like '%${customername}%'
			</if>
			<if test="chancesummary!=null and chancesummary!=''">
				and chancesummary like '%${chancesummary}%'
			</if>
		</where>
	</sql>
	
	
	<insert id="savechance"  parameterType="Chance">
		<selectKey keyProperty="id"  resultType="Integer" order="BEFORE">
			select max(id)+1 as id from chance
		</selectKey>
			insert into chance values(#{id},#{chancesource},#{customername},#{success},#{chancesummary},#{contacter.cname},#{chancedescribe},#{creater},#{createtime},#{user.id},#{assigntime},#{chancestatus.id})
	</insert>


	
	
	<select id="findAllChance" resultMap="DataDirectoryMap">
		select * from chance where chancestatus=5
	</select>
	
	<select id="getChanceCount" resultType="int">
		select count(*) from chance where chancestatus=5
	</select>
	
	<resultMap type="Chance"  id="DataDirectoryMap">
		<association property="chancestatus"   column="chancestatus"  select="com.crm.mapper.DataDirectoryMapper.getDataDirectory"/>
		<association property="user"   column="userid"  select="com.crm.mapper.UserInfoMapper.getUserInfo"/>
		<association property="contacter" column="contacename" select="com.crm.mapper.ContacterMapper.getContacterByName"></association>
	</resultMap>

</mapper>

