<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.mapper.CustomerMapper">
	<resultMap type="Customer" id="CustomerMap">
		<association property="district" column="district" select="com.crm.mapper.DataDirectoryMapper.getDataDirectory"></association>
		<association property="grade" column="grade" select="com.crm.mapper.DataDirectoryMapper.getDataDirectory"></association>
		<association property="satisfaction" column="satisfaction" select="com.crm.mapper.DataDirectoryMapper.getDataDirectory"></association>
		<association property="credit" column="credit" select="com.crm.mapper.DataDirectoryMapper.getDataDirectory"></association>
		<association property="customerstatus" column="customerstatus" select="com.crm.mapper.DataDirectoryMapper.getDataDirectory"></association>
		<association property="customermanager" column="customermanagerid" select="com.crm.mapper.UserInfoMapper.getUserInfo"></association>
	</resultMap>
	<select id="getCustomer" resultMap="CustomerMap">
		select * from customer
	</select>
	<select id="getCustomerCount" resultType="int">
		select count(*) from customer
	</select>
	<!-- 条件查询语句 -->
	<sql id="conditionSql">
		from customer
		<where>
			<if test="id != null and id != ''">
				id=#{id}
			</if>
			<if test="cname != null and cname != ''">
				and cname like '%${cname}%'
			</if>
			<if test="district != null and district != ''">
				and district=#{district}
			</if>
			<if test="customermanagername != null and customermanagername != ''">
				and customermanagerid in (select id from userinfo where name like '%${customermanagername}')
			</if>
			<if test="grade != null and grade != ''">
				and grade=#{grade}
			</if>
		</where>
	</sql>
	<select id="findCustomerConditionCount" parameterType="map" resultType="int">
		select count(*) <include refid="conditionSql"></include>
	</select>
	<select id="findCustomerCondition" parameterType="map" resultMap="CustomerMap">
		select * <include refid="conditionSql"></include>
	</select>
	
	<update id="updateCustomerById" parameterType="Customer">
		update customer set cname=#{cname},district=#{district.id},grade=#{grade.id},satisfaction=#{satisfaction.id}
		,credit=#{credit.id},location=#{location},postcode=#{postcode},telphone=#{telphone},fax=#{fax},website=#{website}
		,license=#{license},legal=#{legal},registermoney=#{registermoney},yearincome=#{yearincome},bank=#{bank}
		,bankaccount=#{bankaccount},rentnumber=#{rentnumber},taxnumber=#{taxnumber},customermanagerid=#{customermanager.id}
		where id=#{id}
	</update>
	
	
	<select id="getCustomerById" parameterType="Customer" resultMap="CustomerMap">
		select * from customer where id=#{id}
	</select>
	
</mapper>